<!DOCTYPE html>
<html>
    <head>
        <title> Spirala 1</title>
        <link rel="stylesheet" type="text/css" href="/assets/pocetna.css">
    </head>
    <body>
            <div id="meni">
                    <ul>
                            <li><a href="pocetna.html">Pocetna</a></li>
                            <li><a href="sale.html">Sale</a></li>
                            <li><a href="unos.html">Unos</a></li>
                            <li><a href="rezervacija.html">Rezervacije</a></li>
                            <li><a href="#">Osobe</a></li>
                    </ul>
                    <div id="logo">
                        <img  id="slika" src="/assets/etf.jpg" alt="Slika!!">
                        </div>
            </div>
        <div id="sadrzaj">
                <div class="galerija">
                        <figure class="galerija1">
                        <img src="/assets/spongebob.png" class="gallery_img" alt="Slika 1">
                        </figure>
                        <figure class="galerija2">
                        <img src="/assets/patrickSp.png" class="gallery_img" alt="Slika 2">
                        </figure>
                        <figure class="galerija3">
                        <img src="/assets/spongebob.png" class="gallery_img" alt="Slika 3">
                        </figure>
                        <figure class="galerija4">
                        <img src="/assets/plankton.png" class="gallery_img" alt="Slika 4">
                        </figure>
                        <figure class="galerija5">
                        <img src="/assets/all.png" class="gallery_img" alt="Slika 5">
                        </figure>
                        <figure class="galerija6">
                        <img src="/assets/sandy.png" class="gallery_img" alt="Slika 6">
                        </figure>
                        <figure class="galerija7">
                        <img src="/assets/puff.png" class="gallery_img" alt="Slika 7">
                        </figure>
                        <figure class="galerija8">
                        <img src="/assets/squid.png" class="gallery_img" alt="Slika 8">
                        </figure>
                        <figure class="galerija9">
                        <img src="/assets/gary.png" class="gallery_img" alt="Slika 9">
                        </figure>
                        <figure class="galerija10">
                        <img src="/assets/krab.png" class="gallery_img" alt="Slika 10">
                        </figure>
                </div>
        </div>
       
    </body>
</html>

